* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Red Hat Display", serif;
  width: 100vw;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  font-family: "Red Hat Display", serif;
}

.header-section {
  height: 1.75rem;
  margin: 1.75rem auto 0 auto;
}

.upper-section {
  padding: 4rem 0 2rem 0;
}

.image-cluster-contaiener {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.0625rem;
  overflow: hidden;
}

.img-cluster-left {
  height: 160px;
}

.img-cluster-right {
  height: 160px;
}

.cluster-heading {
  margin: 3rem 2.1875rem 2rem 2.1875rem;
  text-align: center;
}

.cluster-heading-header {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.1;
  color: hsl(240, 21%, 20%);
  margin-bottom: 1.5rem;
  padding: 0 10px;
}

.cluster-heading-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(240, 10%, 57%);
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.donwload-btn,
.footer-btn {
  width: 12.0625rem;
  height: 3.5rem;
  padding: 1rem 2.5rem;
  background-color: hsl(192, 37%, 48%);
  border: none;
  border-radius: 1.8125rem;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 0%, 98%);
}

.marked-green {
  background-color: transparent;
  color: hsl(192, 90%, 77%);
}

.what-is-it-btn {
  width: 10.0625rem;
  height: 3.5rem;
  padding: 1rem 2.5rem;
  background-color: hsl(268, 34%, 53%);
  border: none;
  border-radius: 1.8125rem;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 0%, 98%);
}

.four-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 2rem 4rem 2rem;
}

.number-one {
  margin-bottom: 64px;
}

.four-image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  row-gap: 16px;
  margin-bottom: 64px;
}

.image-picture-box {
  height: 144px;
}

.four-images {
  width: 100%;
  height: 100%;
}

.four-images-heading-text {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 4px;
  color: hsl(192, 37%, 48%);
  margin-bottom: 16px;
}

.four-images-heading {
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
  color: hsl(240, 21%, 20%);
  margin-bottom: 32px;
}

.text-below-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: hsl(240, 10%, 57%);
}

.number-two {
  margin-bottom: -28px;
  z-index: +1;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 64px 32px;
  align-self: stretch;
  flex-grow: 0;
  background-image: url(./assets/mobile/image-footer.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-header {
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
  color: hsl(0, 0%, 98%);
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: hsl(0, 0%, 98%);
  padding: 0 2px;
}

.footer-btn {
  background-color: hsl(268, 34%, 53%);
}

.marked-pink {
  background-color: transparent;
  color: hsl(268, 100%, 86%);
}

@media only screen and (min-width: 768px) {
  .upper-section {
    padding: 4rem 0 4rem 0;
  }

  .image-cluster-contaiener {
    gap: 2rem;
  }

  .img-cluster-left {
    height: 303px;
  }

  .img-cluster-right {
    height: 303px;
  }

  .cluster-heading {
    margin: 72px 160px 24px 160px;
  }

  .cluster-heading-header {
    padding: 0 80px;
  }

  .button-group {
    flex-direction: row;
    justify-content: center;
  }

  .four-image-section {
    padding: 56px 44px 64px 44px;
  }

  .four-image-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    gap: 24px;
  }

  .image-picture-box {
    height: 160px;
  }

  .four-images-heading-text {
    font-size: 14px;
  }

  .four-images-heading {
    font-size: 36px;
    width: 445px;
  }

  .text-below-heading {
    width: 504px;
  }

  .footer-section {
    background-image: url(./assets/tablet/image-footer.png);
  }

  .footer-header {
    font-size: 36px;
  }

  .footer-text {
    width: 504px;
  }
}

@media only screen and (min-width: 1440px) {
  .upper-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 4rem 0 4rem 0;
  }

  .image-cluster-contaiener {
    justify-content: space-between;
    gap: unset;
  }
}
