* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Red Hat Display", serif;
  width: 100vw;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  font-family: "Red Hat Display", serif;
}

.header-section {
  height: 1.75rem;
  margin: 1.75rem auto 0 auto;
}

.upper-section {
  padding: 4rem 0 2rem 0;
}

.image-cluster-contaiener {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.0625rem;
  overflow: hidden;
}

.img-cluster-left {
  height: 10rem;
}

.img-cluster-right {
  height: 10rem;
}

.cluster-heading {
  margin: 3rem 2.1875rem 2rem 2.1875rem;
  text-align: center;
}

.cluster-heading-header {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.1;
  color: hsl(240, 21%, 20%);
  margin-bottom: 1.5rem;
  padding: 0 0.625rem;
}

.cluster-heading-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(240, 10%, 57%);
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.donwload-btn,
.footer-btn {
  width: 12.0625rem;
  height: 3.5rem;
  padding: 1rem 2.5rem;
  background-color: hsl(192, 37%, 48%);
  border: none;
  border-radius: 1.8125rem;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 0%, 98%);
}

.marked-green {
  background-color: transparent;
  color: hsl(192, 90%, 77%);
}

.what-is-it-btn {
  width: 10.0625rem;
  height: 3.5rem;
  padding: 1rem 2.5rem;
  background-color: hsl(268, 34%, 53%);
  border: none;
  border-radius: 1.8125rem;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 0%, 98%);
}

.four-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 2rem 4rem 2rem;
}

.number-one {
  margin-bottom: 4rem;
}

.four-image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 4rem;
}

.image-picture-box {
  height: 9rem;
}

.four-images {
  width: 100%;
  height: 100%;
}

.four-images-heading-text {
  font-weight: 900;
  font-size: 0.75rem;
  line-height: 1.1;
  letter-spacing: 0.25rem;
  color: hsl(192, 37%, 48%);
  margin-bottom: 1rem;
}

.four-images-heading {
  font-weight: 900;
  font-size: 2rem;
  line-height: 110%;
  color: hsl(240, 21%, 20%);
  margin-bottom: 2rem;
}

.text-below-heading {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: hsl(240, 10%, 57%);
}

.number-two {
  margin-bottom: -1.75rem;
  z-index: +1;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 4rem 2rem;
  align-self: stretch;
  flex-grow: 0;
  background-image: url(./assets/mobile/image-footer.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-header {
  font-weight: 900;
  font-size: 2rem;
  line-height: 110%;
  color: hsl(0, 0%, 98%);
}

.footer-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: hsl(0, 0%, 98%);
  padding: 0 0.125rem;
}

.footer-btn {
  background-color: hsl(268, 34%, 53%);
}

.marked-pink {
  background-color: transparent;
  color: hsl(268, 100%, 86%);
}

@media only screen and (min-width: 768px) {
  .upper-section {
    padding: 4rem 0 4rem 0;
  }

  .image-cluster-contaiener {
    gap: 2rem;
  }

  .img-cluster-left {
    height: 18.9375rem;
  }

  .img-cluster-right {
    height: 18.9375rem;
  }

  .cluster-heading {
    margin: 4.5rem 10rem 1.5rem 10rem;
  }

  .cluster-heading-header {
    padding: 0 5rem;
  }

  .button-group {
    flex-direction: row;
    justify-content: center;
  }

  .four-image-section {
    padding: 3.5rem 2.75rem 4rem 2.75rem;
  }

  .four-image-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    gap: 24px;
  }

  .image-picture-box {
    height: 10rem;
  }

  .four-images-heading-text {
    font-size: 0.875rem;
  }

  .four-images-heading {
    font-size: 2.25rem;
    width: 27.8125rem;
  }

  .text-below-heading {
    width: 31.5rem;
  }

  .footer-section {
    background-image: url(./assets/tablet/image-footer.png);
  }

  .footer-header {
    font-size: 2.25rem;
  }

  .footer-text {
    width: 31.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  footer {
    text-align: unset;
  }

  .header-section {
    margin: 5rem auto 0 auto;
  }

  .upper-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 4rem 0 4rem 0;
    height: 30.5rem;
  }

  .image-cluster-contaiener {
    grid-column: 1/4;
    grid-row: 1/2;
    justify-content: space-between;
    gap: unset;
    height: 100%;
  }

  .img-cluster-right {
    align-self: flex-end;
  }

  .cluster-heading {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: baseline;
    margin: 0;
  }

  .cluster-heading-header {
    font-size: 4rem;
    padding: 0 1.25rem;
    margin: 1.4375rem 0 2rem 0;
  }

  .cluster-heading-text {
    font-size: 1.125rem;
    padding: 0 1.25rem;
  }

  .button-group {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: last baseline;
    margin-bottom: 1.4375rem;
  }

  .four-image-container {
    gap: 2rem;
  }

  .four-image-section {
    padding: 3.5rem 0 4.5rem 0;
  }

  .image-picture-box {
    width: 16rem;
    height: 16rem;
  }

  .four-images {
    border-radius: 0.5rem;
  }

  .four-images-heading-text {
    font-size: 1rem;
  }

  .four-images-heading {
    font-size: 2.5rem;
  }

  .text-below-heading {
    font-size: 1.125rem;
    width: 34rem;
  }

  .footer-section {
    background-image: url(./assets/desktop/image-footer.png);
    flex-direction: row;
    justify-content: space-between;
    align-items: unset;
    gap: unset;
    padding: 7rem 10rem;
  }

  .footer-header {
    font-size: 2.5rem;
    width: 27.8125rem;
  }

  .footer-text {
    font-size: 1.125rem;
    width: 21.875rem;
    padding: 0;
  }

  .footer-btn {
    margin-left: 5.9375rem;
  }
}
